<?xml version="1.0"?>
<!--
/**
 * Acquired.com Payments Integration for Magento2
 *
 * Copyright (c) 2024 Acquired Limited (https://acquired.com/)
 *
 * This file is open source under the MIT license.
 * Please see LICENSE file for more details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- CHECKOUT CONFIG -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="acquired" xsi:type="object">Acquired\Payments\Ui\Method\CardProvider</item>
            </argument>
        </arguments>
    </type>
    <!-- CHECKOUT CONFIG -->
</config>
