<?xml version="1.0"?>
<!--
/**
 * Acquired Limited Payment module (https://acquired.com/)
 *
 * Copyright (c) 2024 Acquired.com (https://acquired.com/)
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- CHECKOUT CONFIG -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="acquired" xsi:type="object">Acquired\Payments\Ui\Method\CardProvider</item>
                <item name="acquired_pay_by_bank" xsi:type="object">Acquired\Payments\Ui\Method\PayByBankProvider</item>
            </argument>
        </arguments>
    </type>
    <!-- CHECKOUT CONFIG -->
</config>
