<?xml version="1.0" ?>
<!--
/**
 * Acquired.com Payments Integration for Magento2
 *
 * Copyright (c) 2024 Acquired Limited (https://acquired.com/)
 *
 * This file is open source under the MIT license.
 * Please see LICENSE file for more details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="multishipping_checkout_controller_success_action">
		<observer name="acquired_payments_observer_frontend_multishipping_checkoutcontrollersuccessaction_multishipping_checkout_controller_success_action" instance="Acquired\Payments\Observer\Multishipping\CheckoutControllerSuccessAction"/>
	</event>

    <event name="checkout_type_multishipping_create_orders_single">
        <observer name="acquired_multishipping_create_orders_single" instance="Acquired\Payments\Observer\Multishipping\CreateOrdersSingleObserver"/>
    </event>

    <event name="shortcut_buttons_container">
        <observer name="acquired_add_apple_pay_minicart" instance="Acquired\Payments\Observer\AddApplePayShortcutMiniCart"/>
    </event>
</config>