<?xml version="1.0"?>
<!--
/**
 * Acquired Limited Payment module (https://acquired.com/)
 *
 * Copyright (c) 2024 Acquired.com (https://acquired.com/)
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Acquired\Payments\Model\Api\AcquiredSession">
        <arguments>
            <argument name="getPaymentSessionData" xsi:type="object">Acquired\Payments\Service\GetAdminPaymentSessionData</argument>
        </arguments>
    </type>
</config>
